*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}

.container{
  width:100%;
  height:70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #e0d9d9;

}
span{
  margin-left: 80px;
  font-size: 23px;
  padding: 30px;
  font-weight: bold;
}

.nav-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap :20px;
  list-style: none;
  padding: 50px;
  
}


 .nav-items a{
  text-decoration: none;
  margin-left: 30px;
  color:black;
  font-size: 20px;
  padding: 20px;
}



#country-container{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}
.country-card{
  
  border:1px solid #ccc;
  border-radius:8px;
  padding: 16px;
  margin: 16px;
  width:180px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 flex-grow: 1;
}
.country-flag{
  width:100%;
  height:auto;
  border-radius:4px;
}